<!-- service page -->
<div class="cont">
    <div class="serv">

        <!-- service send-files form -->
        <div class="serv__send row">
            <form method="post" action="/garfield/addFiles" enctype="multipart/form-data" class="form-load col-10">
                <p class="form-load__title">Загрузите файлы</p>

                <div class="form-load__main">
                    <div class="row form-load__group">
                        <div class="col-6">
                            <span class="form-load__group-title">Логистический сервис (Муравьи)</span>
                        </div>
                        <div class="col-6">
                            <div class="form-load__group-top">
                                <label class="form-load__label bt bt-fl" for="ants">Выбрать файл</label>
                                <input class="form-load__input" type="file" accept=".xlsx"  name="drive_path" id="ants" required>
                                <span class="form-load__input-status">Файл не выбран</span>
                            </div>

                            <div class="form-load__group-foot">
                                <span class="form-load__input-desc">Файл в формате xlsx</span>
                            </div>
                        </div>
                    </div>

                    <div class="row form-load__group">
                        <div class="col-6">
                            <span class="form-load__group-title">Заказы за день</span>
                        </div>
                        <div class="col-6">
                            <div class="form-load__group-top">
                                <label class="form-load__label bt bt-fl" for="orders">Выбрать файл</label>
                                <input class="form-load__input" type="file" accept=".xlsx" name="orders" id="orders" required>
                                <span class="form-load__input-status">Файл не выбран</span>
                            </div>

                            <div class="form-load__group-foot">
                                <span class="form-load__input-desc">Файл в формате xlsx</span>
                                <span class="form-load__input-err">Ошибка в файле, ниже указано в каких строках</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-load__foot">
                    <div class="row justify-content-end">
                        <div class="col-6">
                            <button type="submit" class="bt bt-bl">
                                <span class="btn-text">Загрузить</span>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- end -->
        <!-- service  send errors -->
        <div class="serv__errors hidden">
            <div class="errors">
                <p class="errors__title">Ошибки</p>

                <ul class="errors__list">
                    <li id="errors__item" class="errors__item"></li>
                </ul>

            </div>
        </div>
        <!-- end -->
        <!-- service send resulr -->
        <div class="serv__result row">
            <div class="results col-11">
                <p class="results__title">Итоговые файлы</p>

                <table class="table results__table">
                    <thead class="results__table-head">
                    <tr>
                        <th>Время</th>
                        <th>Дата</th>
                        <th>Общий файл</th>
                        <th>СМС файл</th>
                        <th>Курьеры</th>
                        <th>Экспорт в СМС</th>
                    </tr>
                    </thead>
                    <tbody class="results__table-body" id="results">

                    </tbody>
                </table>
                <div class="row justify-content-center p-pl">
                    <ul class="pagination">

                    </ul>
                </div>

            </div>
        </div>
        <!-- end -->

    </div>
</div>
<!-- end -->
<script id="resultsTpl" type="text/x-handlebars-template">
    <tr class="results__table-offset">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    \{{#each tasks}}
    <tr class="results__tableitem-offset">
        <td></td>
    </tr>

    <tr class="\{{#if this.new}}new\{{else}}\{{#if this.sms.sended}}send\{{else}}nosend\{{/if}}\{{/if}}">
        <td>\{{formatDate this.created "time"}}</td>
        <td>\{{formatDate this.created "short"}}</td>
        <td>
            <a class="results__table-download" href="/garfield/result/\{{this._id}}"
               download>\{{formatDate this.created "long"}}</a>
        </td>
        <td>
            <a class="results__table-download" href="/garfield/sms/\{{this._id}}"
               download>\{{formatDate this.created "long"}}</a>

        <td>
            <a class="results__table-download" href="/garfield/orders/\{{this._id}}"
               download>\{{formatDate this.created "long"}}</a></td>
        </td>
        <td>
            \{{#if this.sms.sended}}
            <span class="results__table-status">Отправлено</span>
            \{{else}}
            <a href="/garfield/sms/\{{this._id}}/send" data-id="\{{this._id}}"
               class="results__table-send">Отправить</a>
            \{{/if}}
        </td>
    </tr>
    \{{/each}}
    <tr class="results__table-offset">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</script>

<script src="https://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/locale/ru.js" type="text/javascript"></script>
<script src="/javascripts/jquery.twbsPagination.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/handlebars.min-latest.js" type="text/javascript" charset="utf-8"></script>

<script>
    const pageSize = 30;
    moment.locale('ru');
    const DateFormats = {
        time: "HH:mm",
        short: "DD MMMM - YYYY",
        long: "DD.MM.YYYY HH:mm"
    };
    Handlebars.registerHelper('formatDate', function (date, format) {
        const mmnt = moment(date).utcOffset(3);
        return mmnt.format(DateFormats[format]);
    });
    const template = document.getElementById('resultsTpl').innerHTML;
    const renderResult = Handlebars.compile(template);
    const tasks = JSON.parse('{{{tasks}}}');
    tasks[0]['new'] = !tasks[0]['sms']['sended'];

    $('.p-pl .pagination').twbsPagination({
        totalPages: Math.ceil(tasks.length / pageSize),
        visiblePages: pageSize,
        startPage: 1,
        hideOnlyOnePage: true,
        prev: '&larr;',
        next: '&rarr;',
        first: '',
        last: '',
        nextClass: 'pagination__item pagination__next',
        prevClass: 'pagination__item pagination__prev',
        pageClass: 'pagination__item',
        anchorClass: 'pagination__link',
        onPageClick: function (event, page) {
            render(tasks, page);
        }
    });

    function render(data, page) {
        const tasks = data.slice((page - 1) * pageSize, ((page - 1) * pageSize) + pageSize);
        console.log(tasks);
        document.getElementById('results').innerHTML = renderResult({tasks: tasks});
        $(".results__table-send").click(function (e) {
            e.preventDefault();
            const _that = $(this);
            _that.addClass('loader');
            const href = $(this).attr('href');
            const task = tasks.find(function(item) {
                return item._id === _that.attr('data-id');
            });
            $.ajax({
                url: href,
                dataType: 'json',
                success: function (response) {
                    task.sms.sended = true;
                    _that.removeClass('loader');
                    _that.closest('tr').removeClass('new').addClass('send');
                    _that.closest('td').html('<span class="results__table-status">Отправлено</span>');
                },
                error: function (response) {
                    _that.removeClass('loading');
                    _that.addClass('error');
                    _that.text('Повторить');
                }
            })
        })
    }
    (function () {
        var inputs = document.querySelectorAll('input[type="file"]');

        Array.prototype.forEach.call(inputs, function (input) {
            var statusNode = input.nextElementSibling,
                    statusHtml = statusNode.innerHTML,
                    labelNode = input.previousElementSibling;

            input.addEventListener('change', function () {
                if (this.files && this.files.length > 0) {
                    var name = this.files[0].name;

                    if (name.length > 28)
                        fileName = name.substr(0, 17) + '...' + name.substr(name.length - 8, 8);
                    else
                        fileName = this.files[0].name;

                    labelNode.classList.add('ok');
                    statusNode.style.color = '#2a965d';
                }
                else {
                    fileName = statusHtml;

                    labelNode.classList.remove('ok');
                    statusNode.style.color = '';
                }

                statusNode.innerHTML = fileName;
            })
        })
    })()
    let sending = false;
    $('form').on('submit', addTask);

    function addTask(event) {
        event.preventDefault();
        if (!sending) {
            sending = true;
        } else {
            return;
        }

        const _that = $(this);
        _that.find('[type="submit"]').addClass('loader');

        const formData = new FormData();
        const ants = document.getElementById('ants').files;
        const orders = document.getElementById('orders').files;
        formData.append('drive_path', ants[0], ants[0].name);
        formData.append('orders', orders[0], orders[0].name);
        const xhr = new XMLHttpRequest();

        xhr.open('POST', $(event.target).attr('action'), true);
        xhr.onload = function (res) {
            sending = false;
            _that.find('[type="submit"]').removeClass('loader');
            if (xhr.status === 200) {
                window.location.reload();
            } else {
                try {
                    let response = JSON.parse(res.target.response);
                    $(".form-load__input-err").show();
                    $("#errors__item").text(response.error);
                    $(".serv__errors").removeClass('hidden');
                } catch (e) {
                    console.error(e);
                }
            }
        };
        xhr.send(formData);
    }


</script>

